<!DOCTYPE html>
<html>
    <head>
        {{- partial "head.html" . -}}
        {{ template "_internal/opengraph.html" . }}
    </head>
    <body class="landing is-preload">
        <div id="page-wrapper">
            {{- partial "header.html" . -}}

            <!-- Banner -->
            <section id="banner">
            {{ if .Site.Data.homepage.banner.enable }}
            {{ with .Site.Data.homepage.banner }}
                <h2>{{ .title }}</h2>
                <p>{{ with .content }}{{ . }}{{else}}{{ $.Site.Params.description }}{{end}}</p>
                <ul class="actions special">
                {{ range .buttons }}
                    <li><a href="{{ .link }}" class="button {{ .class }}">{{ .title }}</a></li>
                {{ end }}
                </ul>
            {{ end }}
            {{ end }}
            </section>

            <!-- Main -->
            <section id="main" class="container">
                <!-- Highlight -->
                {{ if .Site.Data.homepage.highlight.enable }}
                {{ with .Site.Data.homepage.highlight }}
                    <section class="box special">
                        <header class="major">
                            {{/* Include 'safeHTML' function to render the HTML in strings */}}
                            <h2>{{ .header | safeHTML }}</h2>
                            <p>{{ .content | safeHTML }}</p>
                        </header>
                        <div class="videoWrapper">
                            <iframe width="560" height="349" src="https://media.darmstadt.freifunk.net/Freifunk-verbindet.mp4" frameborder="0" allowfullscreen></iframe>
                          </div>
                    </section>
                {{ end }}
                {{ end }}

                <!-- Features -->
                {{ if .Site.Data.homepage.features.enable }}
                {{ with .Site.Data.homepage.features }}
                    <section class="box special features">
                        {{ range .rows }}
                        <div class="features-row">
                            {{ range .items }}
                            <section>
                                <span class="icon solid major {{ .icon }} {{ .accent }}"></span>
                                <h3>{{ .title }}</h3>
                                <p>{{ .content }}</p>
                            </section>
                            {{ end }}
                        </div>
                        {{ end }}
                    </section>
                {{ end }}
                {{ end }}

            {{- partial "footer.html" . -}}
        </div>
        {{- partial "scripts.html" . -}}
    </body>
</html>